body {
    color: black;
}

@media (max-width: 768px) {
    .container {  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 3fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "header"
          "main-section"
          "support-section"
          "nav-bar";
    }
      
    .header { 
        grid-area: header;
        background-color: pink; 
    }
      
    .main-section { 
        grid-area: main-section; 
    }
      
    .support-section {
        grid-area: support-section; 
        background-color: pink;
    }
      
    .nav-bar {
        grid-area: nav-bar; 
    }
      
    html, body , .container {
        height: 100%;
        margin: 0;
    }
}