* {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Merge One", sans-serif;
    span {
        font-family: "Merge One", sans-serif;
    }
}

.header-headings {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}